<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-3">
	     	<div class="form-group">
				<label for="exampleFormControlInput1">Nama Kamu siapa ya?</label>
				<input type="text" class="form-control" id="nickName" placeholder="" value="simaho123">
				<button id="buttonConnect" type="button" class="btn btn-default" style="margin-top:5px" onclick="connectToServer()">Pokoknya Klik sebelum chat</button>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect2">Dropdown di klik untuk lihat teman</label>
				<select  class="form-control" id="valListOnline" onchange="setActiveWidowChat()">
				</select>
			</div>
	    </div>
	    <div class="col-sm">
	      	<div class="form-group">
	      		<input type="hidden" name="allWIndowId">
			    <label for="exampleFormControlTextarea1">Log Chat mu dibawah ini : (<span id="status_server">putus dari server</span>)</label>
			    <span id="windowsChat">
			    	<textarea class="form-control window-chat-textarea" id="windowDefaultChat" rows="15"></textarea>
			    </span>
			</div>
			<div class="form-group">
			    <input type="text" class="form-control" id="message" placeholder="" name="message">
				<button type="button" onclick="sendMessage()" class="btn btn-default" style="margin-top:5px">Kasih tau</button>
			</div>
	    </div>
	  </div>
	</div>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/socket.io/socket.io.js"></script>

<script>
	// to server
	var readyToChat = false;
	var socket = null;
	var registeredName = null;
	var registeredId = null;
	var currentActiveWindowChat = null;

	function connectToServer(){
		// to server
	    socket = new io.connect('http://192.168.100.14:3000', {
		    'reconnection': true,
		    'reconnectionDelay': 5000,
		    'reconnectionDelayMax' : 5000,
		    'reconnectionAttempts': 10
		});

		runHandleReceiver();
		runHandleDisconnect();

	}

	function runHandleReceiver(){

		// receiver messeg
		socket.on('chat_to_shop', function (data) {

			// validation data
			if (data == null) {
				
				console.log('request invalid null');
				return false;
			}

			// process request
			if(data.request == 1){
				
				socket.emit('chat_to_shop', { 
					request: 1,
					userId: Math.random(),
					nickName: $( "#nickName" ).val(), 
				});
		
			}else if(data.request == 2){
				
				console.log(data);
				console.log('Connected to server');
				
				setMsg(data.message);
				setRegName(data.nickName);
				setRegId(data.regId);
				setShowHiden('buttonConnect', false);
				setReadyToChat(true);

			}else if(data.request == 3){
				console.log(data);
				$('#' + data.from.regId).append('\n' + data.from.regName + ' said: ' + data.message); 

			}else if(data.request == 4){
				
				setListOnline(data.onlineUsers);
			
			}else{
				
				console.log('request command invalid');
				return false;

			}

		});
	}
	
	function runHandleDisconnect(){
		socket.on('disconnect', function(socket){
	        setMsg("sekarang anda di putuskan server");
	        setShowHiden('buttonConnect', true);
	    });
	}
	
	// triger buat send message terpisah
	// setInterval(sendMessage,10000);

	// method buat send message terpisah
	function sendMessage(){
		// check ready to chat then send
		if (readyToChat == true) {
			// send kec changel chat_to_shop
			socket.emit('chat_to_shop', {
				request: 3,
				from: registeredId,
				to: $('#valListOnline option:selected').val(),
				message: $('#message').val()
			});

			$('#' + $('#valListOnline option:selected').val()).append('\n' + '(You) said: ' + $('#message').val()); 

		}
	}

	function setMsg(msg) {
		$( "#status_server" ).html('<b><i>' + msg + '</i></b>');
	}

	function setShowHiden(id, status){	
		if (status) {
			$( "#"+id ).show();
		}else{
			$( "#"+id ).hide();
		}
	}

	function setReadyToChat(bool){
		readyToChat = bool;
	}

	function setListOnline(listOnline){
		
		var htmlListOnline;
		var htmlWindowChat;
		var listIdAllWindowChat = [];

		if (listOnline.length == 0) {
			$("#valListOnline").html('');
		}else{
			// clear list
			$("#valListOnline").html('');
			
			// create list online
			for (let key in listOnline) {
				htmlListOnline =  '<option onclick="setActiveWidowChat(' + key + ')" value="'+ key +'">' + listOnline[key].nickName + '</option>' + htmlListOnline;
			}
			
			$("#valListOnline").html("<option selected value='default'>Silahkan pilih teman anda</option>" + htmlListOnline);

			// create WIndow baru
			htmlWindowChat = $('#windowsChat').html();

			for (let key in listOnline) {
				
				listIdAllWindowChat.push(key);

				if ($('#'+key).length){
					
				}else{
					htmlWindowChat = htmlWindowChat + '<textarea class="form-control window-chat-textarea" id="' + key + '" rows="15">Windows untuk chat dengan : '+ listOnline[key].nickName +'</textarea>';
				}

			}

			$('#allWIndowId').val(JSON.stringify(listIdAllWindowChat));
			$('#windowsChat').html(htmlWindowChat);

			// set aktif 1 saja sesuai dropdown
			for (let key in listOnline) {
				$('#'+key).hide();
			}

		}
	}

	function setRegName(name){
		registeredName = name;
	}

	function setRegId(regId){
		registeredId = regId;
	}

	function setActiveWidowChat(){
		if($('#valListOnline option:selected').val() != 'default'){
			$('.window-chat-textarea').hide();
			$('#'+ $('#valListOnline option:selected').val()).show();
		}
	}
</script>
