<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<body class="container" style="border: 1px solid black;">
	<div class="row">
		<div class="col-sm-3" style="border: 1px solid black; margin: 10px;">
			One of three columns
		</div>
		<div class="col-sm-7" style="border: 1px solid black; margin: 10px;">
			One of three columns
		</div>
	</div>
</body>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- <script src="node_modules/socket.io-client/dist/socket.io.js"></script> -->

<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<!-- <script src="node_modules/socket.io-client/dist/socket.io/socket.io.js"></script> -->
<script>

	// to server
	var readyToChat = false;
	var socket = new io.connect('http://localhost:3000', {
	    'reconnection': true,
	    'reconnectionDelay': 5000,
	    'reconnectionDelayMax' : 5000,
	    'reconnectionAttempts': 10
	});

	// receiver messeg
	socket.on('chat_to_shop', function (data) {

		// validation data
		if (data == null) {
			console.log('request invalid null');
			return false;
		}

		// process request
		if(data.request == 1){
			socket.emit('chat_to_shop', { 
				request: 1,
				userId: '123123123',
				nickName: 'joko', 
			});
	
		}else if(data.request == 2){
			console.log(data);
			console.log('Connected to server');
			readyToChat = true;
		
		}else if(data.request == 4){
			console.log(data.onlineUsers);
		
		}else{
			console.log('request command invalid');
			return false;

		}

	});

	socket.on('disconnect', function(socket){

        console.log("disconnect from server");

    });

	// triger buat send message terpisah
	setInterval(sendMessage,10000);

	// method buat send message terpisah
	function sendMessage(){
		
		// check ready to chat then send
		if (readyToChat == true) {
			// send kec changel chat_to_shop
			socket.emit('chat_to_shop', {
				request: 3,
				to: 999,
				message: 'hello'
			});
		}
	}

</script>
